html {
    width: 300px;
    height: 180px;
}

body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #283142, #0f1b24); 
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: medium;
    margin-top: 20px
}

h3 {
    color: #99a3ad;
    margin: 0;
}

label {
    font-weight: bold;
    color: white;
    display: inline-block;
    text-align: right; 
    margin-right: 5px;
}

input {
    font-family: "Montserrat", sans-serif;
    padding: 8px;
    margin-top: 15px;
    width: 80px;
    height: 25px;
    border: 0px;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #364156; 
    color: white;
}

input:focus{
    outline: 1px solid #2f72dc;  
}

button {
    margin-top: 20px;
    padding: 8px 16px; 
    background-color: #2f72dc; 
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0d47a1; 
}

button#reset-button {
    margin-left: 5px;
}

button#hex-button {
    margin-left: 5px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}